## 4.6 Combining & Exporting Data

### Contents

01 Import Libraries and Data

02 Check Dataframes

03 Merge Dataframes

04 Export Data to Pickle File

### 01 Import Libraries and Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create path variable for main project folder
path = r'C:\Users\julie_y9025s2\06-2022 Instacart Basket Analysis'

In [3]:
# Import order_products__prior.csv as df_ords_prior using path variable
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
# Import orders_checked.csv as df_ords using path variable
# Use path variable to import orders_checked.csv as df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

### 02 Check Dataframes

In [5]:
# Check df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Check df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,0,2539329,1,1,2,8,NaN,True
1,1,2398795,1,2,3,7,15.0,False
2,2,473747,1,3,3,12,21.0,False
3,3,2254736,1,4,4,7,29.0,False
4,4,431534,1,5,4,15,28.0,False

In [7]:
# Drop unnecessary "Unnamed: 0' column
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [8]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [9]:
# Check shape of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [10]:
# Check shape of df_ords
df_ords.shape

(3421083, 7)

### 03 Merge Dataframes

In [11]:
# Merge dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
# Check new dataframe df_merged_large using default inner join
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [13]:
# Perform frequency check on _merge column
df_merged_large.value_counts(['_merge'])

_merge
both          32434489
left_only            0
right_only           0
dtype: int64

### 04 Export Data to Pickle File

In [14]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))